@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 200 67% 89%;
    --primary-foreground: 200 25% 25%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 45.1%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;

    --accent: 47 99% 67%;
    --accent-foreground: 47 50% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 200 67% 89%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 200 67% 45%;
    --primary-foreground: 0 0% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 215 20.2% 65.1%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 47 99% 67%;
    --accent-foreground: 47 50% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 200 67% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @keyframes-enter {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-enter {
    animation: keyframes-enter 0.2s ease-out forwards;
  }
}
